<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>
<div class="row">
    <div class="col-3 sidebar">
        <app-comapnyservices></app-comapnyservices>
    </div>
    <div class="col margin-top">
        <div class="jumbotron col-sm-6 offset-sm-2 box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>